body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
img {
  width: 100%;
}
.name-highlight {
  color: #7936d8;
}
.description {
  font-size: 20px;
}

.top-banner {
  min-height: 800px;
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
}
.top-banner-half {
  width: 40%;
  margin-left: 5%;
  padding: 5%;
}
.top-banner-image {
  width: 40%;
  margin-left: 5%;
  padding: 5%;
}
.hare-button {
  height: 35px;
  width: 100px;
  border-style: none;
  border-radius: 5px;
  background-color: rgba(105, 76, 219, 0.938);
  font-weight: bold;
  font-size: 15px;
  color: white;
  transition: all 0.5s;
  letter-spacing: 1.5px;
}
.hare-button,
.resume-button:hover {
  cursor: pointer;
  opacity: 90%;
}
.second-banner {
  display: flex;
  flex-wrap: nowrap;
  min-width: 600px;
  background-image: url("../images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right 0% bottom 0%;
}
.second-banner-half {
  width: 40%;
  margin-left: 5%;
  padding: 5%;
}
.resume-button {
  width: 200px;
  height: 35px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(255, 171, 45);
  font-weight: bold;
  font-size: 15px;
  color: white;
  transition: all 0.5s;
  letter-spacing: 1.5px;
}
.experience-area {
  display: flex;
  flex-wrap: nowrap;
  background: url("../images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}
.half-width-experience {
  height: 400px;
  width: 800px;
  margin-left: 5%;
  background: white;
  box-shadow: 10px 10px 40px grey;
  border-radius: 10px;
  padding-left: 10px;
}
.orange-highlighter {
  color: orange;
}
#full-Stack {
  border-left: 7px solid;
  border-image: linear-gradient(120deg, orange 0%, lightsalmon 100%);
  border-image-slice: 1;
}
#baby-dev {
  border-left: 7px solid;
  border-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  border-image-slice: 1;
}
footer p{
  text-align: center;
  margin-top: 50px;
}
